.about {
    background: #000;
    text-align: center;

    &__images{
        width: 100%;
        margin: 0 auto;
        min-height: 460px;
        // background: rgba(255,255,255,.1);
        background: url(./assets/images/about_us.png) no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &__container {
        margin: 0 auto;
        max-width: 1060px;
        padding: 25px 0;
        width: 100%;
    }
    &__headings{
        max-width: 670px;
        margin: 0 auto;

        & h3{
            padding-bottom: 3rem;
        }
    }

    &__text{
        width: 100%;
        margin: 0 auto;
        padding: 3.5rem 0;
    }
}