.home {

    background: #000;
    text-align: center;

    &__headings{
        max-width: 670px;
        margin: 0 auto;
    }

    &__options{
        display: flex;

        &__container{
            max-width: 1060px;
            margin: 0 auto;
            padding: 3rem 0;
            display: flex;

            & .items{
                justify-content: space-between;
                padding: 2rem .8rem 0 8rem;
                text-align: left;
                font-size: 2rem;
                line-height: 1.3;
                color: #e6c685;
                position: relative;
                min-height: 210px;

                &::before{
                    content: '';
                    position: absolute;
                    left: 5.5rem;
                    top: 2.7rem;
                    width: 1.3rem;
                    height: 1.3rem;
                    background: #e6c685;
                    transform: rotate(45deg);
                }

                &::after{
                    content: '1';
                    text-align: left;
                    position: absolute;
                    left: 0;
                    top: -6rem;
                    font-size: 22rem;
                    color: rgba(230, 198, 133, 0.2);
                    font-family: 'Frank Ruhl Libre', serif;
                    font-weight: 300;
                }
            }
            & .number2{
                &::after{
                    content: '2';
                }
            }

            & .number3{
                &::after{
                    content: '3';
                }
            }
        }
    }

    & .d-none{
        & .slick-arrow{
            display: none !important;
        }
    }

    & .slider-dot{

        & li{
            & button{
                background: #5c5c5c;
                border-radius: 100%;
                border: .3rem solid #5c5c5c;

                &::before{
                    display: none;
                }
            }
        }
        & .slick-active{
            & button{
                background: #000;
            }
        }
    }
    &__sliderHome{
        position: relative;

        & .slick-arrow{
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            z-index: 1;
        }

        & .slick-next{
            right: 15%;

            &::before{
                content: '';
                position: absolute;
                border-bottom: 20px solid transparent;
                border-top: 20px solid transparent;
                border-left:20px solid #e6c685; 
                height: 100%;
                z-index: 1;
            }
        }

        & .slick-prev{
            left: 15%;

            &::before{
                content: '';
                position: absolute;
                border-bottom: 20px solid transparent;
                border-top: 20px solid transparent;
                border-right:20px solid #e6c685; 
                height: 100%;
                z-index: 1;
            }
        }
    }
    
}