.btn {
    display: inline-block;
    font-family: inherit;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 8px;
    user-select: none;
    border: 1px solid transparent;

    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;

    &:focus {
        outline: 0;
    }
}

.btn-login {
    background-color: #e6c685;
    color: #16002E;
    font-size: 1.8rem;
    width: 7rem;
    height: 3rem;
}


.btn-cta {
    background-color: #e6c685;
    color: #16002E;
    font-size: 1.8rem;
    width: 7rem;
    height: 3rem;
}

.btn-block {
    width: 100%;
    display: block;
}