*{margin: 0;padding: 0;font-family:'Lato', sans-serif; font-size: 11px; box-sizing: border-box; font-weight:400; letter-spacing: .4px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

/* Header css start */

header{
    background: #000;
    text-align: center;
    display: flex;
}
.hcontainer{
    margin: 0 auto;
    max-width: 1060px;
    padding: 5px 0;
    display: flex;
    width: 100%;
}
.privy_logo{
    display: flex;
}
.header_menu{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header_menu ul{
    display: flex;
}
.header_menu ul li{
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}
.header_menu ul li.dropdown_menu{
    color: #E6C685;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
}
.header_menu ul li.dropdown_menu:after{
    content: '';
	border: solid transparent;
	position: absolute;
    right: -5px;
    top:13px;
	border-top-color: #E6C685;
	border-width: 5px;
}
.header_menu ul li.dropdown_menu ul{
    visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
    background: #E6C685;
  top: 100%;
  right: -15px;
  width: 100%;
    padding: 5px 0;
    border-radius: 8px;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_menu ul li.dropdown_menu ul:after{
    content: '';
	border: solid transparent;
	position: absolute;
    right: 10px;
    top:-10px;
	border-bottom-color: #E6C685;
	border-width: 5px;
}
.header_menu ul li.dropdown_menu:hover ul{
    visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  top: 30px;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 
}
.header_menu ul li.dropdown_menu ul li{
    margin: 0;
    padding: 5px 0;
}
.header_menu ul li.dropdown_menu ul li:first-child{
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.header_menu ul li.dropdown_menu ul li a{
    color: #000;
}
.header_menu ul li.login{
    background: #E6C685;
    border-radius: 8px;
}
.header_menu ul li.login a{
    color: #000;
}
.header_menu ul li a{
    color: #E6C685;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    padding: 0 15px;
}


/* footer css start */

footer{
    background: #000;
    text-align: center;
    border-top: 2px solid #E5C584;
}
.fcontainer{
    margin: 0 auto;
    max-width: 1060px;
    padding: 20px 0;
    display: flex;
}
.footer_left{
    text-align: left;
    flex-basis: 60%;
}
.yatra_logo{
    height: 25px;
    margin: 0px 30px -7px 0;
}
.footer_left a{
    text-decoration: none;
    color: #E5C584;
    font-size: 14px;
    line-height: 25px;
    padding: 0 20px;
}
.footer_right{
    text-align: right;
    flex-basis: 30%;
    margin-left: auto;
}
.footer_right a{
    text-decoration: none;
    color: #E5C584;
    font-size: 14px;
    line-height: 25px;
    padding: 0 20px;
}
.footer_right a:after{
    content: '';
}